$red500: #ebb383;
$red400: #fcd7b6;

$red50: #e0e0e0;

$orange200:#fde3cc;
$orange100:#fde7d3;
$orange70: #feefe2;
$orange60:#fdf6ef;
$orange50:#e8e4df;

$green50: #b3b7b5;



$blue700: #243f4d;
$blue670:#2e2f50;
$blue650: #234969;
$blue600: #436372;
$blue500: #737980;
$blue250: #a9bfcb;
$blue200: #a3bbc8;
$blue150: #a3bac7;
$blue120: #dae4e9;
$blue110:#c2d2db;
$blue100:#edf1f4;

$white500: #414141;
$white450: #585858;
$white400: #7b7b7b;
$white200: #8b8b8b;
$white120: #f2f2f2;
$white100: #fef7f0;
$white: #fff;

$black-shadow2:0px 6px 47px 3px rgba(37, 37, 37, 0.05);
$black-shadow: rgba(37, 37, 37, 0.05);
$black300: #343434;
$black200:#262626; 
$black100: #1a1a1a;
$black: #000;

$Rubik: 'Rubik', Tahoma, sans-serif;
$DMSans: 'DMSans', Arial, sans-serif;
$Poppins: 'Poppins', Arial, sans-serif;


$xxl: 1366;
$xl: 1200;
$l: 1080;
$lm: 900;
$m: 768;
$s: 576;
$xs: 375;
