.info-support {
  background-color: $white100;
  max-width: 1770px;
  margin: 0 auto;

  &__items {
    display: flex;
    
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 170px;
    &:not(:last-child) {
      border-right: 1px solid $orange50;
    }
  }

  &__wrapper { 
    padding-left: 75px;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      background-repeat: no-repeat;
      left: 0;
      width: 65px;
      height: 55px;
    }

    &--time::before {
      background-image: url(../images/icons/time.svg);
    }

    &--truck::before {
      background-image: url(../images/icons/delivery-truck.svg);
    }
    
    &--card::before {
      background-image: url(../images/icons/credit-card.svg);
    }
  }

  &__title {
    font-size: 18px;
    font-family: $DMSans;
    font-weight: 700;
    color: $white500;
    margin-bottom: 5px;
  }

  &__text {
    font-family: $DMSans;
    line-height: 2.2;
    color: $white450;
    font-size: 16px;
    max-width: 215px;
    &--mini {
      max-width: 200px
    }
  }
}