@import 'vars';
@import 'fonts';
@import 'libs';
@import 'global';



.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px 0;
}

.menu {
  @extend %rubik-500;
  &__list {
    display: flex;
    font-weight: 500;  
  }

  &__list-item:not(:last-child) {
    margin-right: 30px;
  }
  
  &__list-link {
    color: $menu-link-color;
    transition: color 0.3s;
    &:hover {
      color: $main-color;
    }
  }
}

.user-nav {
  display: flex;
  &__icon {
    width: 19px;
    height: 17px;
    fill: #243f4d;  
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__link--search {
    background-color: #edf1f4;
    border-radius: 50%;
    width: 52px;
    height: 52px;
    transition: background-color 0.3s;
    &:hover {
      background-color: $main-gray;
    }
  }

  &__link--search,
  &__link--basket {
    margin-right: 22px;
  }

  &__link--like,
  &__link--basket {
    position: relative;
    padding: 12px 30px 12px 41px;
    border-radius: 30px 0 0 30px;
    background-color: $main-color;
  }

  &__link--basket {
    border-radius: 0 30px 30px 0;
    padding: 12px 41px 12px 30px;
  }

  &__num{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: #000;
    width: 16px;
    height: 16px;
    background-color: #fff;
    border-radius: 50%;
    font-size: 10px;
    right: 22px;
    top: 11px;
  }

  &__num--basket {
    right: 34px;
  }

  &__link--menu {
    border-radius: 50%;
    width: 52px;
    height: 52px;
    background-color: $main-gray;
    transition: background-color 0.3s;
    &:hover {
      background-color: $main-color;
    }
  }

  &__icon--menu {
    fill: #fff;
  }
}

.top-slider {
  background-image: url(../images/top-slider-bg.png);
  background-repeat: no-repeat;
  background-position:  86% 50%;
  padding: 220px 0 45px;
  background-color: $main-color;
  color: $title-color;
  &__title {
    font-size: 70px;
    @extend %rubik-500;
    margin-bottom: 20px;
    max-width: 420px;
  }

  &__text {
    max-width: 380px;
    font-size: 18px;
    @extend %rubik-400;
    margin-bottom: 40px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 200px;
  }

  &__link {
    @extend %btn;
    padding-right: 100px;
    position: relative;
    &::after {
      position: absolute;
      content: '';
      background-image: url(../images/icons/arrow.svg);
      background-repeat: no-repeat;
      background-size: cover;
      width: 22px;
      height: 9px;
      right: 20px;
      top: 26px;
    }  
  }

  .slick-dots {
    display: flex;
    justify-content: center;

    li:not(:last-child) {
      margin-right: 10px;
    }

    button {
      cursor: pointer;
      border: none;
      border-radius: 50%;
      background-color: #fde3cc;
      font-size: 10px;
      width: 30px;
      height: 30px;
      line-height: 1.5;
      @extend %rubik-500;
      color: $title-color;
      transition: background-color 0.3s;
      &:hover {
        background-color: #fff;
      }
    }
  }
}

.footer {
  padding-top: 80px;
  font-size: 14px;
  line-height: 1.5;
  color: $main-text;
  @extend %rubik-400;
  a {
    transition: color 0.3s;
    &:hover {
      color: $main-color;
    }
  }
}

.footer-top {
  display: flex;
  margin-bottom: 65px;
  &__logo {
    display: inline-block;
    margin-bottom: 20px;
  }

  &__contact {
    max-width: 200px;
    margin-right: 100px;
  }

  &__nav {
    max-width: 150px;
    margin-right: 180px;
  }

  &__form-wrapper {
    margin-left: auto;
  }

  &__address,
  &__phone {
    display: inline-block;
    margin-bottom: 12px;
  }

  &__title {
    padding-top: 15px;
    font-size: 16px;
    color:#2e2f50;
    @extend %dmSans-700;
    text-transform: uppercase;
    margin-bottom: 15px;
  }

  &__item {
    margin-bottom: 10px;
  }

  &__link,
  &__phone,
  &__email {
    color: inherit;
  }
  
  &__phone span,
  &__email span {
    text-transform: uppercase;
  }

  &__text {
    max-width: 240px;
    margin-bottom: 35px;

  }
  &__form {
    display: flex;
  }

  &__form-input {
    padding: 0 15px ;
    border: none;
    background-color: #fef7f0;
    height: 40px;
    &::placeholder {
      padding: 0 5px 0 15px;
      @extend %dmSans-400;
      color: #234969;
    }
  }

  &__form-btn {
    cursor: pointer;
    border: none;
    @extend %btn;
    padding: 9px 15px;
    @extend %dmSans-400;  
  }

}

.footer-bottom {
  border-top: 1px solid #dae4e9;
  padding: 35px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__nav {
    display: flex; 
  }

  &__item:not(:last-child) {
    margin-right: 30px;
    position: relative;
    &::after {
      content: '|';
      position: absolute;
      color: $main-text;
      right: -18px;
    }
  }
  &__link {
    color: $main-text;
  }
}

.info {
  background-color: #fef7f0;

  &__items {
    display: flex;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 38px;
    width: 100%;
    &:not(:last-child) {
      border-right: 1px solid #e8e4df;
    }
  }

  &__wrapper { 
    padding-left: 75px;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      background-repeat: no-repeat;
      left: 0;
      width: 65px;
      height: 55px;
    }

    &--time::before {
      background-image: url(../images/icons/time.svg);
    }

    &--truck::before {
      background-image: url(../images/icons/delivery-truck.svg);
    }
    
    &--card::before {
      background-image: url(../images/icons/credit-card.svg);
    }
  }

  &__title {
    font-size: 18px;
    @extend %dmSans-700;
    color: #414141;
    margin-bottom: 5px;
  }

  &__text {
    @extend %dmSans-400;
    line-height: 2.2;
    color: #585858;
    font-size: 16px;
    max-width: 215px;
    &--mini {
      max-width: 200px
    }
  }


}

.products {
  padding: 70px 0;
  &__title {
    font-size: 36px;
    @extend %dmSans-700;
    text-align: center;
    margin-bottom: 30px;
  }

  &__filter {
    display: flex;
    justify-content: center;
  }

  &__pick:not(:last-child) {
    margin-right: 10px;
  }

  &__btn {
    border: none;
    background-color: #fff;
    margin-bottom: 70px;
    @extend %dmSans-700;
    color: #8b8b8b;
    font-size: 16px;
    cursor: pointer;
    &:focus {
      color: #1a1a1a;
    }
  }

  &__items {
    display: grid;
    height: 800px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px;
  }
}

.products-item {
  position: relative;
  box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
  max-width: 270px;
  height: 380px;
  margin-bottom: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding-top: 25px;
  padding-bottom: 35px;

  &__image {
    margin: auto;
  }

  &__name,
  &__price {
    text-align: center;
  }           

  &__name {
    color: #243f4d;
    @extend %dmSans-500;
    margin-bottom: 15px;
  }

  &__price {
    color: #a3bbc8;
    @extend %dmSans-700;
  }

  &__icon {
    width: 25px;
    height: 20px;
    fill: #a3bac7;
    transition: fill 0.3s;
  }

  &__link-box {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    left: 0;
    bottom: 150px;
    transform: translateX(300%);
    transition: all 0.3s;
  }

  &:hover {
    .products-item__link-box {
      transform: translateX(0);
    }
  }

  &__btn:not(:last-child) {
    margin-right: 15px;
  }
  
  &__link {
    background-color: #fff;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
    &:hover {
      background-color: #a3bac7;
      .products-item__icon {
        fill: #fff;
      }
    }
  }
}



@import 'media';