.footer {
  padding-top: 80px;
  font-size: 14px;
  line-height: 1.5;
  color: $white400;
  font-family: $Rubik;
  @include w($s){
    padding-top: 20px;
  }
  a {
    transition: color 0.3s;
    &:hover,
    &:active,
    &:focus {
      color: $blue200;
    }
  }
}

.footer-top {
  display: flex;
  margin-bottom: 65px;

  @include w($l) {
    flex-wrap: wrap;
    padding-left: 30px;
    margin-bottom: 35px;
  }

  @include w($xs) {
    padding-left: 0;
  }

  &__title-btn {
    pointer-events: none;
    @include w($xs) {
      pointer-events: all;
      width: calc(100vw - 30px);
    }
  }

  
  &__logo {
    display: inline-block;
    margin-bottom: 20px;
  }

  &__address {
    max-width: 200px;
    margin-right: 100px;
    @include w($m) {
    margin-right: auto;
    }
    @include w($s) {
      max-width: 100%;
      width: 100vw;
    }
  }

&__list{
    margin-right: auto;
    max-width: 250px;
  }
  
  &__location,
  &__phone {
    display: block;
    margin-bottom: 12px;
  }



  &__location {
    @include w($s) {
      display: block;
      max-width: 100%;
    }
  }



  &__title {
    padding-top: 15px;
    font-size: 16px;
    color: $blue670;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 15px;
  }

  &__item {
    margin-bottom: 10px;
    @include w($xs) {
      display: none;
    }
  }
  
  &__phone span,
  &__email span {
    text-transform: uppercase;
  }

  &__text {
    max-width: 240px;
    margin-bottom: 35px;
    @include w($l) {
      max-width: 100%;
    }
  }


  &__news {
    @include w($xs) {
      text-align: center;
    }
  }
  

  &__form {
    display: flex;
    @include w($xs) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__input {
    padding: 0 15px ;
    border: none;
    background-color: $white100;
    height: 40px;
    &::placeholder {
      padding: 0 5px 0 15px;
      color: $blue650;
      @include w($xs) {
        text-align: center;
      }
    }
    @include w($xs) {
      margin-bottom: 10px;
      width: 100%;
    }
  }

  &__btn {
    cursor: pointer;
    border: none;
    @include btn;
    padding: 9px 15px;
    transition: background-color 0.3s;
    &:hover,
    &:active,
    &:hover {
      background-color: $blue600;
    }
    @include w($xs) {
      width: 100%;
    }
  }
}

.footer-bottom {
  border-top: 1px solid $blue120;
  padding: 35px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__nav {
    display: flex;
    @include w($s) {
      margin:  0 auto;
    }
  }

  &__copy {
    @include w($s) {
      margin: 0 auto 10px;
      text-align: center;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-right: 30px;
      position: relative;
      &::after {
        content: '|';
        position: absolute;
        color: $white400;
        right: -18px;
      }
    }
  }

  &__link {
    color: $white400;
  }
  @include w($s) {
    flex-wrap: wrap;
  }

}
