.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px 0;
}

.menu {
  display: flex;
  font-family: $Rubik;
  font-weight: 500;
  padding-left: 150px;
  &__item {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
  

  &__link {
    color: $blue600;
    transition: color 0.3s;
    &:hover,
    &:focus,
    &:active {
      color: $red400;
    }
  }
}

.user-nav {
  display: flex;
  &__icon {
    width: 19px;
    height: 17px;
    fill: $blue700;  
  }

  &__wrapper {
    background-color: $red400;
    display: flex;
    justify-content: center;
    border-radius: 30px;
    margin: 0 20px;
    position: relative;
    &::after {
      content: '';
      height: 32px;
      width: 1px;
      position: absolute;
      right: 88px;
      top: 9px;
      background-color: $orange100;
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    &--search {
      background-color: $blue100;
      border-radius: 50%;
      width: 52px;
      height: 52px;
      transition: background-color 0.3s;
      &:hover,
      &:focus,
      &:active {
        background-color: $blue200;
      }
    }

    &--like {
      padding:  0 30px 0 40px;
      position: relative;
      transition: transform 0.3s;
      &:hover {
        transform: translateY(-3px);
      }
      &:focus,
      &:active {
        background-color: $blue200;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
      }
    }

    &--basket {
      padding: 0 40px 0 30px;
      transition: transform 0.3s;
      &:hover {
        transform: translateY(-3px);
      }
      &:focus,
      &:active {
        background-color: $blue200;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
      }

    }

    &--menu {
    border-radius: 50%;
    width: 52px;
    height: 52px;
    background-color: $blue200;
    transition: background-color 0.3s;
    &:hover,
    &:focus,
    &:active {
      background-color: $blue600;
    }
  }
}


  &__num {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: $black;
    width: 16px;
    height: 16px;
    background-color: $white;
    border-radius: 50%;
    font-size: 10px;
    right: 22px;
    top: 11px;
    &--basket {
      right: 34px;
    }
  }

  &__icon--menu {
    fill: $white;
  }
}