.partners {
  background-color: $orange60;
  @include w($s) {
    padding-bottom: 20px;
  }
  

  &__logos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 440px;
    margin: 0 50px;
    @include w($l) {
      flex-wrap: wrap;
      margin: 0 auto;
    }
    @include w($m) {
      height: auto;
    }
    @include w($s) {
      flex-direction: column;
    }
  }

  &__logo {
    margin-top: 150px;
    @include w($m) {
      margin: 60px 30px 30px;
    }
    @include w($s) {
      margin: 20px;
      &:first-child {
        margin-top: 40px;
      }
    }
  }
  
}

