.products-filter {
  display: flex;
  justify-content: center;
  font-weight: 700;
  @include w($m) {
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
  }

  &__pick {
    &:not(:last-child) {
      margin-right: 20px;
    }
    @include w($s) {
      &:not(:last-child) {
        margin-right: 5px;
      }
    }
  }

  &__btn {
    border: none;
    background-color: $white;
    margin-bottom: 70px;
    color: $white200;
    font-size: 16px;
    cursor: pointer;
    &:focus,
    &:hover,
    &:active {
      color: $black100;
    }
    @include w($s) {
      margin-bottom: 15px;
    }
  }
}


.products-week {
  padding: 70px 0 100px;
  font-weight: 700;
  @include w($m) {
    padding: 40px 0;
  }

  &__title {
    font-size: 36px; 
    text-align: center;
    margin-bottom: 30px;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    margin-bottom: 180px;
    @include w($xl) {
      grid-template-columns: repeat(3, 1fr);
    }
    @include w($m) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include w($s) {
      grid-template-columns: repeat(1, 1fr);
      margin-bottom: 60px;
    }

  }
}

.product-card {
  position: relative;
  box-shadow: 0px 6px 47px 3px $black-shadow;
  width: 270px;
  margin-bottom: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding-top: 28px;
  padding-bottom: 40px;
  text-align: center;
  transition: transform 0.5s;
  &:hover {
    transform: translateY(-10px);
  }
  @include w($s) {
   width: calc(100vw - 30px);
  }
  @include w($l) {
    transform: translateY(0);
  }
  .star {
    display: none;
  }
  .product-card__desc {
    display: none;
  }
  &.product-card--list {
    box-shadow: none;
    width: 100%;
    height: 500px;
    flex-direction: row;
    padding: 0;
    @include w($lm) {
      height: auto;
    }
    @include w($xs) {
      flex-direction: column;
    }
    &:hover {
      transform: none;
    }
   
    .product-card__box {
      transform: none;
      left: 100px;
      bottom: 80px;
      @include w($lm) {
        bottom: 10px;
        left: 90px;
      }
      @include w($xs) {
        bottom: 110px;
      }
    }
    .product-card__btn{
      box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
      border-radius: 0;
      width: 50px;
      height: 50px;
      &:first-child {
        display: none;
      }
    }

    .product-card__link {
      display: none;
    }
    .product-card__image {
      object-fit: cover;
      width: 370px;
      height: 500px;
      margin: 0;
      border: 1px solid $white120;
      img {
        width: 80%;
      }
      @include w($m) {
        height: 350px;
      }
      @include w($xs) {
        height: 400px;
        width: auto;
      }
    }
    .product-card__wrapper {
      padding-left: 60px;
      text-align: start;
      @include w($l) {
        padding-left: 10px;
      }
    }
    .product-card__name {
      font-size: 40px;
      font-family: $Rubik;
      font-weight: 400;
      display: block;
      padding: 90px 0 0;
      @include w($lm) {
        padding: 15px 0 0;
      }
      @include w($s) {
        font-size: 24px;
      }
    }
    .star {
      display: block;
      width: 117px !important;
      padding: 0;
      margin-bottom: 35px;
      svg {
        height: 17px;
        width: 17px;
      }
      @include w($s) {
        margin-bottom: 20px;
      }
    }
    .product-card__price {
      text-align: start;
      font-size: 30px;
      font-family: $Rubik;
      font-weight: 400;
      color: $black;
      margin-bottom: 35px;
      @include w($s) {
        margin-bottom: 20px;
      }

    }
    .product-card__desc {
      display: block;
      font-size: 16px;
      max-width: 420px;
      color: $blue700;
    }
  }
  
  &__image {
    width: 186px;
    height: 195px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
    img {
      width: auto;
      height: auto;
      max-width: 100%;
      max-height: 100%;
      object-fit: cover;
    }
    @include w($s) {
      width: auto;
      margin-bottom: 30px;
    }
    
  }
  
  &__name {
    color: $blue700;
    font-weight: 500;
    margin-bottom: 15px;
    padding: 0 15px;
  }

  &__price {
    color: $blue200;
    font-weight: 700;
  }

  &__icon {
    width: 25px;
    height: 20px;
    fill: $blue150;
    transition: fill 0.3s;
  }

  
  &__box {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    left: 0;
    bottom: 150px;
    transform: translateX(200%);
    transition: transform 0.3s;
    z-index: 3;
    @include w($l) {
      transform: translateX(0);
    }
  }
  
  &:hover {
    .product-card__box {
      transform: translateX(0);
    }
  }

  &__btn {
    background-color: $white;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 6px 4px 3px $white200;
    transition: background-color 0.3s;
    &:not(:last-child) {
      margin-right: 15px;
    }

    &:hover {
      background-color: $blue150;
      .product-card__icon {
        fill: $white;
      }
    }
  }
  
  &__link {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
}


.lighting-products {

  &__items {  
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include w($xl) {
      flex-direction: column;
    }
  }

  &__wrapper {
    height: 390px;
    width: 870px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $orange70;
    @include w($xxl) {
      width: auto;
    }
    @include w($xl) {
      &:not(:last-child) {
        margin-bottom: 150px;
      }
    }
    @include w($s) {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  }

  &__item {
    padding-left: 320px;
    position: relative;
    @include w($xl) {
      padding-right: 20px;
    }
    @include w($s) {
      padding-left: 20px;
    }

  }
  

  &__image {
    position: absolute;
    top: -195px;
    left: 60px;
    &--second {
      top: -176px;
      left: 25px;
      @include w($l) {
        top: auto;
        left: auto;
      }
    }
    @include w($s) {
      display: none;
    }
  }

  &__box {
    color: $blue700;
    
  }

  &__name {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 10px;
    max-width: 300px;
    line-height: 1.4;
  } 

  &__descr {
    max-width: 370px;
    margin-bottom: 25px;
    line-height: 1.8;
    @include w($xs) {
      max-width: none;
    }
  }

  &__btn {
    color: $blue600;
    padding: 20px 85px 20px 20px;
    border: 1px solid $green50;
    display: inline-block;
    border-radius: 3px;
    position: relative;
    transition: background-color 0.5s;
    &::after {
      content: '';
      position: absolute;
      background-image: url(../images/icons/arrow-right-blue.svg);
      width: 22px;
      height: 9px;
      right: 20px;
      top: 26px;
    }
    &:focus {
      background-color: $blue150;
    }
    &:hover {
      background-color: $blue200;
    }
    &:active {
      background-color: $white;
    }
  }
}

