.products-list {
  padding: 120px 0 100px;
  @include w($l) {
    padding: 60px 0 50px;
  }
  @include w($xs) {
    padding: 30px 0 25px;
  }
  &__inner {
    display: flex;
    
    @include w($lm) {
      flex-direction: column;
    }


  }
  
  &__filters {
    min-width: 270px;
    margin-right: 30px;
    @include w($m) {
      margin: 0 0 30px;
    }
    @include w($m) {
     min-width: none;
     margin-right: 15px;
    }

  }
}

.filter {
  &__title {
    display: inline-block;
    font-size: 18px;
    color: $blue700;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 30px;
    &::after {
      content: '';
      position: absolute;
      right: -50px;;
      top: 9px;
      width: 38px;
      height: 3px;
      background-color: $blue200;
    }
  }
}



.filter-category {
  margin-bottom: 50px;
  &__input {
    @include checkbox-hidden;
    &:checked +.filter-category__name {
      background-color: $blue100;
    }
  }

  &__name {
    display: block;
    font-size: 16px;
    font-family: $Rubik;
    color: $blue700;
    padding: 12px;
    position: relative;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 2px;
    &::after {
      content: '';
      position: absolute;
      background-repeat: no-repeat;
      background-image: url(../images/icons/arrow-right.svg);
      right: 23px;
      top: 16px;
      width: 6px;
      height: 12px;
    }
   
    &:hover {
      background-color: $blue100;
    }
  }
}

.filter-price {
  &__label {
    display: flex;
    justify-content: space-between;
    font-family: $Rubik;
    font-size: 14px;
    color: $blue700;
    margin-bottom: 85px;
  }
}

.irs--flat .irs-line {
  top: 7px;
  height: 3px;
  background-color: $blue110;
  border-radius: 4px;
}

.irs--flat .irs-handle {
  top: 0px;
  width: 16px;
  height: 16px;
  background-color: $blue200;
}

.irs--flat .irs-bar {
  top: 6px;
  height: 4px;
  background-color: $blue200;
}

.irs--flat .irs-handle>i:first-child  {
  display: none;
}

.irs--flat .irs-min, .irs--flat .irs-max,
.irs-from, .irs-to, .irs-single {
  display: none;
}

.filter-brand {
  margin-bottom: 60px;
  &__input {
    @include checkbox-hidden;
    &:checked +.filter-brand__checkbox {
      background-color: $blue100;
    }
  }

  &__checkbox {
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
    font-family: $Rubik;
    font-size: 14px;
    color: $blue700;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2px;
    &:hover {
      background-color: $blue100;
    }
  }
}

.recent-products {
  &__list {
    @include w($lm) {
      display: flex;
      justify-content: space-between;
    }
    @include w($s) {
      display: block;
    }
  }
  &__item {
    display: flex;
    margin-bottom: 22px;
  }

  &__wrapper {
    border: 1px solid $white120;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
  }

  &__img {
    object-fit: contain;
  }

  &__info {
    font-size: 15px;
    font-family: $Rubik;
  }

  &__name {
    font-size: 14px;
    font-weight: 400;
    padding-top: 3px;
    margin-bottom: 10px;
  }

  .star {
    margin-bottom: 10px;
  }

  .jq-ry-container {
    padding: 0;
  }
  
}


.list-content {
  width: 100%;
  &__item {
    &.list-content__item--list {
      width: 100%;
    }
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .product-card {
      margin-bottom: 40px;
    }
    @include w($xl) {
      margin-right: 100px;
    }
    @include w($l) {
      margin-right: 20px;
    }
    @include w($s) {
      margin: 0 0 15px;
      justify-content: center;
    } 
   
    
  }
  &__filter {
    margin-bottom: 30px;
    @include w($m) {
      text-align: center;
    }
  }
  &__text {
    margin-right: 15px;
  }
  
  &__btn {
    vertical-align: middle;
    padding: 0;
    background-color: transparent;
    line-height: 0;
    &:not(:last-child) {
      margin-right: 10px;
    }
    &.list-content__btn--active {
      path {
        fill: $blue700;
      }
    }
  }
}


