.top-slider {
  padding-top: 100px;
  background-color: $red400;
  color: $blue700;
  @include w($l) {
    padding-top: 50px;
  }

  &__inner {
    padding-bottom: 45px;
    @include w($l) {
      padding-bottom: 25px;
    }
  }
  
  &__content {
    margin: 0 100px 85px 0;
    @include w($xl) {
      margin-right: 0;
    }
    @include w($m) {
      margin-bottom: 30px;
    }
  }

  &__name {
    font-size: 70px;
    @include text-clamp;
    font-family: $Rubik;
    font-weight: 500;
    margin-bottom: 20px;
    max-width: 420px;
    text-transform: uppercase;
    @include w($l) {
      font-size: 50px;
    }
    @include w($xs) {
      font-size: 44px;
    }
  }

  &__box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 640px;
    @include w($xxl) {
      width: 50%;
      padding: 0 15px;
      height: 540px;
    }
    @include w($m) {
      display: none;
    }
  }

  &__img {
    width: 640px;
    height: 264px;
    @include w($xxl) {
      height: auto;
    }
  }

  &__text {
    max-width: 380px;
    font-size: 18px;
    font-family: $Rubik;
    margin-bottom: 40px;
    @include w($m) {
      max-width: none;
    }
  }

  &__wrapper {
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
    @include w($l) {
      padding: 0 15px;
    }
    @include w($m) {
      display: block;
    }
    &::after {
      content: '';
      position: absolute;
      border-radius: 50%;
      background: linear-gradient( 270deg,rgba(255,255,255,1), rgba(255,255,255,0));
      height: 640px;
      width: 640px;
      right: 160px;
      z-index: -1;
      @include w($xxl) {
        width: 500px;
        height: 500px;
        right: 44px;
        top: 10px
      }
      @include w($l) {
        width: 400px;
        height: 400px;
        top: 50px;
      }
      @include w($m) {
        width: 200px;
        height: 200px;
        top: 0;
      }
    }
  }

  &__link {
    @include btn;
    padding-right: 100px;
    position: relative;
    transition: transform 0.5s, background-color 0.5s;
    &::after {
      position: absolute;
      content: '';
      background-image: url(../images/icons/arrow-right-white.svg);
      width: 22px;
      height: 9px;
      right: 20px;
      top: 26px;
    }
    &:hover,
    &:active,
    &:focus {
      transform: translateX(20px);
      background-color: $blue600;
    }
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    li {
      &:not(:last-child) {
        margin-right: 10px;
      }
    }

    button {
      cursor: pointer;
      border: none;
      border-radius: 50%;
      background-color: $orange200;
      font-size: 10px;
      width: 30px;
      height: 30px;
      line-height: 1.5;
      font-family: $Rubik;
      font-weight: 500;
      color: $blue700;
      transition: background-color 0.3s;
      &:hover,
      &:focus {
        background-color: $white;
      }
    }
  }

  .slick-dots .slick-active button {
    background-color: $white;
  }
}

.info-support {
  background-color: $white100;
  margin: 0 auto;

  &__items {
    display: flex;
    @include w($l) {
     flex-wrap: wrap;
    }
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 170px;
    &:not(:last-child) {
      border-right: 1px solid $orange50;
    }
    @include w($l) {
      border-bottom: 1px solid $orange50;
      border-left: 1px solid $orange50;
      border-right: 1px solid $orange50;
     }
  }

  &__wrapper { 
    padding-left: 75px;
    position: relative;
    @include w($xs) {
      padding-right: 20px;
    }
    &::before {
      content: '';
      position: absolute;
      background-repeat: no-repeat;
      left: 0;
      width: 65px;
      height: 55px;
      @include w($xs) {
        left: 10px;
      }
    }

    &--time::before {
      background-image: url(../images/icons/time.svg);
    }

    &--truck::before {
      background-image: url(../images/icons/delivery-truck.svg);
    }
    
    &--card::before {
      background-image: url(../images/icons/credit-card.svg);
    }
  }

  &__title {
    font-size: 18px;
    font-weight: 700;
    color: $white500;
    margin-bottom: 5px;
  }

  &__text {
    line-height: 2.2;
    color: $white450;
    font-size: 16px;
    max-width: 215px;
    &--mini {
      max-width: 200px
    }
  }
}
