<header class="header">
  <h1 class="visually-hidden">
    Glee. Home furniture store
  </h1>
  <div class="container container--large">
    <nav class="header__inner">
      <a class="logo" href="#">
        <img class="logo__img" src="images/logo.png" alt="Company`s logo" width="150" height="40">
      </a>
      <ul class="menu">
        <li class="menu__item">
          <a class="menu__link" href="#">
            Home <span>+</span>
          </a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#">
            About
          </a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#">
            Services
          </a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#">
            Pages <span>+</span>
          </a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#">
            News
          </a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#">
            Contact
          </a>
        </li>
      </ul>
      <div class="user-nav">
        <button class="user-nav__link user-nav__link--search">
          <svg class="user-nav__icon">
            <use xlink:href="images/sprite.svg#search-icon"></use>
          </svg>
          <span class="visually-hidden">
            When clicked, a site search input field appears
          </span>
        </button>
        <div class="user-nav__wrapper">
          <a class="user-nav__link user-nav__link--like" href="#">
            <svg class="user-nav__icon">
              <use xlink:href="images/sprite.svg#like-icon"></use>
            </svg>
            <div class="user-nav__num">0</div>
            <span class="visually-hidden">
              When clicked, go to the favorites page
            </span>
          </a>
          <a class="user-nav__link user-nav__link--basket" href="#">
            <svg class="user-nav__icon">
              <use xlink:href="images/sprite.svg#basket-icon"></use>
            </svg>
            <div class="user-nav__num user-nav__num--basket">0</div>
            <span class="visually-hidden">
              when clicked, go to the cart page
            </span>
          </a>
        </div>
        <button class="user-nav__link user-nav__link--menu">
          <svg class="user-nav__icon user-nav__icon--menu">
            <use xlink:href="images/sprite.svg#menu-icon"></use>
          </svg>
          <span class="visually-hidden">
            when clicked, an additional menu opens
          </span>
        </button>
      </div>
    </nav>
  </div>
</header>