<section class="top-slider container container--large">
  <div class="container">
    <div class="top-slider__inner">
      <div class="top-slider__item">
        <div class="top-slider__wrapper">
          <div class="top-slider__content">
            <div class="top-slider__title">
              SMART AND
              TRENDY
            </div>
            <p class="top-slider__text">
              Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
            </p>
            <a class="top-slider__link" href="#">
              Shop now
            </a>
          </div>
          <img src="images/slider/photo.png" alt="slide images">
        </div>
      </div>
      <div class="top-slider__item">
        <div class="top-slider__wrapper">
          <div class="top-slider__content">
            <div class="top-slider__title">
              SMART AND
              TRENDY
            </div>
            <p class="top-slider__text">
              Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
            </p>
            <a class="top-slider__link" href="#">
              Shop now
            </a>
          </div>
          <img src="images/slider/photo.png" alt="slide images">
        </div>
      </div>
      <div class="top-slider__item">
        <div class="top-slider__wrapper">
          <div class="top-slider__content">
            <div class="top-slider__title">
              SMART AND
              TRENDY
            </div>
            <p class="top-slider__text">
              Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
            </p>
            <a class="top-slider__link" href="#">
              Shop now
            </a>
          </div>
          <img src="images/slider/photo.png" alt="slide images">
        </div>
      </div>
    </div>
  </div>

</section>