<section class="info-support">
  <h2 class="visually-hidden">
    Support
  </h2>
  <ul class="info-support__items">
    <li class="info-support__item">
      <div class="info-support__wrapper info-support__wrapper--time">
        <h3 class="info-support__title">
          Support 24/7.
        </h3>
        <div class="info-support__text info-support__text--mini">
          <p>
            Contact us 24 hours a day,
            7 days a week.
          </p>
        </div>
      </div>
    </li>
    <li class="info-support__item">
      <div class="info-support__wrapper info-support__wrapper--truck">
        <h3 class="info-support__title">
          Delivery
        </h3>
        <div class="info-support__text">
          <p>
            Free shipping on all US order.
          </p>
        </div>
      </div>
    </li>
    <li class="info-support__item">
      <div class="info-support__wrapper info-support__wrapper--card">
        <h3 class="info-support__title">
          100% Payment secure.
        </h3>
        <div class="info-support__text">
          <p>
            We ensure secure payment
            with PEV.
          </p>
        </div>
      </div>
    </li>
  </ul>
</section>