<section class="insights">
  <div class="container">
    <div class="insights__top">
      <h2 class="insights__title">
        Our Insights & Articles
      </h2>
      <a class="insights__link" href="#">
        View All
        <svg class="insights__icon">
          <use xlink:href="images/sprite.svg#arrow-right-smal"></use>
        </svg>
      </a>
    </div>
    <ul class="insights__items">
      <li class="insights__item">
        <article class="insights-card">
          <div class="insights-card__wrapper">
            <div class="insights-card__image">
              <img class="insights-card__photo" src="images/insights/1.jpg" alt="foto 1">
            </div>
            <span class="insights-card__category" href="#">
              News
            </span>
            <div class="insights-card__content">
              <h3 class="insights-card__text">
                Diusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
              </h3>
              <div class="insights-card__inner">
                <time class="insights-card__date" datetime="28-01-2020">
                  <svg class="insights-card__pic">
                    <use xlink:href="images/sprite.svg#data-time"></use>
                  </svg>
                  28 January, 2020
                </time>
                <a class="insights-card__name" href="#">
                  <svg class="insights-card__pic">
                    <use xlink:href="images/sprite.svg#search-icon"></use>
                  </svg>
                  By Admin
                </a>
              </div>
            </div>
          </div>
        </article>
      </li>
      <li class="insights__item">
        <article class="insights-card">
          <div class="insights-card__wrapper">
            <div class="insights-card__image">
              <img class="insights-card__photo" src="images/insights/2.jpg" alt="foto 1">
            </div>
            <span class="insights-card__category" href="#">
              News
            </span>
            <div class="insights-card__content">
              <h3 class="insights-card__text">
                Aonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore 
              </h3>
              <div class="insights-card__inner">
                <time class="insights-card__date" datetime="28-01-2020">
                  <svg class="insights-card__pic">
                    <use xlink:href="images/sprite.svg#data-time"></use>
                  </svg>
                  28 January, 2020
                </time>
                <a class="insights-card__name" href="#">
                  <svg class="insights-card__pic">
                    <use xlink:href="images/sprite.svg#search-icon"></use>
                  </svg>
                  By Admin
                </a>
              </div>
            </div>
          </div>
        </article>
      </li>
      <li class="insights__item">
        <article class="insights-card">
          <div class="insights-card__wrapper">
            <div class="insights-card__image">
              <img class="insights-card__photo" src="images/insights/3.jpg" alt="foto 1">
            </div>
            <span class="insights-card__category" href="#">
              News
            </span>
            <div class="insights-card__content">
              <h3 class="insights-card__text">
                Rncididunt ut labore et dolore magna aliqua. Ut enim 
              </h3>
              <div class="insights-card__inner">
                <time class="insights-card__date" datetime="28-01-2020">
                  <svg class="insights-card__pic">
                    <use xlink:href="images/sprite.svg#data-time"></use>
                  </svg>
                  28 January, 2020
                </time>
                <a class="insights-card__name" href="#">
                  <svg class="insights-card__pic">
                    <use xlink:href="images/sprite.svg#search-icon"></use>
                  </svg>
                  By Admin
                </a>
              </div>
            </div>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>