<section class="insights">
  <div class="container">
    <div class="insights__top">
      <h2 class="insights__title">
        Our Insights & Articles
      </h2>
      <a class="insights__link" href="#">
        View All
        <svg class="insights__icon">
          <use xlink:href="images/sprite.svg#arrow-right-smal"></use>
        </svg>
      </a>
    </div>
    <ul class="insights__items">
      <li class="insights__item">
        <article class="insights__card">
          <div class="insights__wrapper">
            <div class="insights__image">
              <img src="images/insights/1.jpg" alt="foto 1">
            </div>
            <a class="insights__mark" href="#">
              News
            </a>
            <div class="insights__content">
              <div class="insights__text">
                <p>
                  Diusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                </p>
              </div>
              <div class="insights__data">
                <a class="insights__date" href="#">
                  <svg class="insights__pic">
                    <use xlink:href="images/sprite.svg#search-icon"></use>
                  </svg>
                  28 January, 2020
                </a>
                <a class="insights__name" href="#">
                  <svg class="insights__pic">
                    <use xlink:href="images/sprite.svg#search-icon"></use>
                  </svg>
                  By Admin
                </a>
              </div>
            </div>
          </div>
        </article>
      </li>
      <li class="insights__item">
        <article class="insights__card">
          <div class="insights__wrapper">
            <div class="insights__image">
              <img src="images/insights/2.jpg" alt="foto 1">
            </div>
            <a class="insights__mark" href="#">
              News
            </a>
            <div class="insights__content">
              <div class="insights__text">
                <p>
                  Aonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore 
                </p>
              </div>
              <div class="insights__data">
                <a class="insights__date" href="#">
                  <svg class="insights__pic">
                    <use xlink:href="images/sprite.svg#search-icon"></use>
                  </svg>
                  28 January, 2020
                </a>
                <a class="insights__name" href="#">
                  <svg class="insights__pic">
                    <use xlink:href="images/sprite.svg#search-icon"></use>
                  </svg>
                  By Admin
                </a>
              </div>
            </div>
          </div>
        </article>
      </li>
      <li class="insights__item">
        <article class="insights__card">
          <div class="insights__wrapper">
            <div class="insights__image">
              <img src="images/insights/3.jpg" alt="foto 1">
            </div>
            <a class="insights__mark" href="#">
              News
            </a>
            <div class="insights__content">
              <div class="insights__text">
                <p>
                  Rncididunt ut labore et dolore magna aliqua. Ut enim 
                </p>
              </div>
              <div class="insights__data">
                <a class="insights__date" href="#">
                  <svg class="insights__pic">
                    <use xlink:href="images/sprite.svg#search-icon"></use>
                  </svg>
                  28 January, 2020
                </a>
                <a class="insights__name" href="#">
                  <svg class="insights__pic">
                    <use xlink:href="images/sprite.svg#search-icon"></use>
                  </svg>
                  By Admin
                </a>
              </div>
            </div>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>