<div class="partners">
  <div class="container">
    <ul class="partners__wrapper">
      <li class="partners__item">
        <ul class="partners__logos">
          <li class="partners__logo">
            <a href="#">
              <img src="images/partners/1.png" alt="#">
            </a>
          </li>
          <li class="partners__logo">
            <a href="#">
              <img src="images/partners/2.png" alt="#">
            </a>
          </li>
          <li class="partners__logo">
            <a href="#">
              <img src="images/partners/3.png" alt="#">
            </a>
          </li>
          <li class="partners__logo">
            <a href="#">
              <img src="images/partners/4.png" alt="#">
            </a>
          </li>
          <li class="partners__logo">
            <a href="#">
              <img src="images/partners/5.png" alt="#">
            </a>
          </li>
        </ul>
      </li>
      <li class="partners__item">
        <ul class="partners__logos">
          <li class="partners__logo">
            <a href="#">
              <img src="images/partners/1.png" alt="#">
            </a>
          </li>
          <li class="partners__logo">
            <a href="#">
              <img src="images/partners/2.png" alt="#">
            </a>
          </li>
          <li class="partners__logo">
            <a href="#">
              <img src="images/partners/3.png" alt="#">
            </a>
          </li>
          <li class="partners__logo">
            <a href="#">
              <img src="images/partners/4.png" alt="#">
            </a>
          </li>
          <li class="partners__logo">
            <a href="#">
              <img src="images/partners/5.png" alt="#">
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>