<section class="partners">
  <div class="container">
    <div class="partners__logos">
      <div class="partners__logo">
        <img src="images/partners/1.png" alt="#">
      </div>
      <div class="partners__logo">
        <img src="images/partners/2.png" alt="#">
      </div>
      <div class="partners__logo">
        <img src="images/partners/3.png" alt="#">
      </div>
      <div class="partners__logo">
        <img src="images/partners/4.png" alt="#">
      </div>
      <div class="partners__logo">
        <img src="images/partners/5.png" alt="#">
      </div>
    </div>
  </div>

</section>