<section class="products-week">
  <div class="container">
    <h2 class="products-week__title">
      Products of the week
    </h2>
    <div data-ref="container-1">
      <ul class="products-filter">
        <li class="products-filter__pick">
          <button class="products-filter__btn" type="button" data-filter="all">
            All
          </button>
        </li>
        <li class="products-filter__pick">
          <button class="products-filter__btn" type="button" data-filter=".furnitures">
            Furnitures
          </button>
        </li>
        <li class="products-filter__pick">
          <button class="products-filter__btn" type="button" data-filter=".chairs">
            Chairs
          </button>
        </li>
        <li class="products-filter__pick">
          <button class="products-filter__btn" type="button" data-filter=".lighting">
            Lighting
          </button>
        </li>
        <li class="products-filter__pick">
          <button class="products-filter__btn" type="button" data-filter=".decor">
            Decor
          </button>
        </li>
      </ul>
      <ul class="products-week__items">
        <li class="products-item mix furnitures">
          <article class="product-card">
            <div class="product-card__image">
              <img src="images/products/1.jpg" alt="product 1">
            </div>
            <h3 class="product-card__name">
              Wooden radio
            </h3>
            <p class="product-card__price">
              <span>$</span>29.00
            </p>
            <div class="product-card__box">
              <a class="product-card__btn" href="#">
                <svg class="product-card__icon">
                  <use xlink:href="images/sprite.svg#products_search-icon"></use>
                </svg>
              </a>
              <button class="product-card__btn" href="#">
                <svg class="product-card__icon">
                  <use xlink:href="images/sprite.svg#products_basket-icon"></use>
                </svg>
              </button>
              <button class="product-card__btn" href="#">
                <svg class="product-card__icon">
                  <use xlink:href="images/sprite.svg#products_like-icon"></use>
                </svg>
              </button>
            </div>
            <a class="product-card__link" href="#"></a>
          </article>
        </li>
        <li class="products-item mix lighting">
          <article class="product-card">
            <div class="product-card__image">
              <img src="images/products/2.jpg" alt="product 1">
            </div>
            <h3 class="product-card__name">
              Wooden radio
            </h3>
            <p class="product-card__price">
              <span>$</span>29.00
            </p>
            <div class="product-card__box">
              <a class="product-card__btn" href="#">
                <svg class="product-card__icon">
                  <use xlink:href="images/sprite.svg#products_search-icon"></use>
                </svg>
              </a>
              <button class="product-card__btn" href="#">
                <svg class="product-card__icon">
                  <use xlink:href="images/sprite.svg#products_basket-icon"></use>
                </svg>
              </button>
              <button class="product-card__btn" href="#">
                <svg class="product-card__icon">
                  <use xlink:href="images/sprite.svg#products_like-icon"></use>
                </svg>
              </button>
            </div>
            <a class="product-card__link" href="#"></a>
          </article>
        </li>
        <li class="products-item mix chairs">
          <article class="product-card">
            <div class="product-card__image">
              <img src="images/products/3.jpg" alt="product 1">
            </div>
            <h3 class="product-card__name">
              Wooden radio
            </h3>
            <p class="product-card__price">
              <span>$</span>29.00
            </p>
            <div class="product-card__box">
              <a class="product-card__btn" href="#">
                <svg class="product-card__icon">
                  <use xlink:href="images/sprite.svg#products_search-icon"></use>
                </svg>
              </a>
              <button class="product-card__btn" href="#">
                <svg class="product-card__icon">
                  <use xlink:href="images/sprite.svg#products_basket-icon"></use>
                </svg>
              </button>
              <button class="product-card__btn" href="#">
                <svg class="product-card__icon">
                  <use xlink:href="images/sprite.svg#products_like-icon"></use>
                </svg>
              </button>
            </div>
            <a class="product-card__link" href="#"></a>
          </article>
        </li>
        <li class="products-item mix decor">
          <article class="product-card">
            <div class="product-card__image">
              <img src="images/products/4.jpg" alt="product 1">
            </div>
            <h3 class="product-card__name">
              Wooden radio
            </h3>
            <p class="product-card__price">
              <span>$</span>29.00
            </p>
            <div class="product-card__box">
              <a class="product-card__btn" href="#">
                <svg class="product-card__icon">
                  <use xlink:href="images/sprite.svg#products_search-icon"></use>
                </svg>
              </a>
              <button class="product-card__btn" href="#">
                <svg class="product-card__icon">
                  <use xlink:href="images/sprite.svg#products_basket-icon"></use>
                </svg>
              </button>
              <button class="product-card__btn" href="#">
                <svg class="product-card__icon">
                  <use xlink:href="images/sprite.svg#products_like-icon"></use>
                </svg>
              </button>
            </div>
            <a class="product-card__link" href="#"></a>
          </article>
        </li>
        <li class="products-item mix chairs">
          <article class="product-card">
            <div class="product-card__image">
              <img src="images/products/5.jpg" alt="product 1">
            </div>
            <h3 class="product-card__name">
              Wooden radio
            </h3>
            <p class="product-card__price">
              <span>$</span>29.00
            </p>
            <div class="product-card__box">
              <a class="product-card__btn" href="#">
                <svg class="product-card__icon">
                  <use xlink:href="images/sprite.svg#products_search-icon"></use>
                </svg>
              </a>
              <button class="product-card__btn" href="#">
                <svg class="product-card__icon">
                  <use xlink:href="images/sprite.svg#products_basket-icon"></use>
                </svg>
              </button>
              <button class="product-card__btn" href="#">
                <svg class="product-card__icon">
                  <use xlink:href="images/sprite.svg#products_like-icon"></use>
                </svg>
              </button>
            </div>
            <a class="product-card__link" href="#"></a>
          </article>
        </li>
        <li class="products-item mix furnitures">
          <article class="product-card">
            <div class="product-card__image">
              <img src="images/products/6.jpg" alt="product 1">
            </div>
            <h3 class="product-card__name">
              Wooden radio
            </h3>
            <p class="product-card__price">
              <span>$</span>29.00
            </p>
            <div class="product-card__box">
              <a class="product-card__btn" href="#">
                <svg class="product-card__icon">
                  <use xlink:href="images/sprite.svg#products_search-icon"></use>
                </svg>
              </a>
              <button class="product-card__btn" href="#">
                <svg class="product-card__icon">
                  <use xlink:href="images/sprite.svg#products_basket-icon"></use>
                </svg>
              </button>
              <button class="product-card__btn" href="#">
                <svg class="product-card__icon">
                  <use xlink:href="images/sprite.svg#products_like-icon"></use>
                </svg>
              </button>
            </div>
            <a class="product-card__link" href="#"></a>
          </article>
        </li>
        <li class="products-item mix lighting">
          <article class="product-card">
            <div class="product-card__image">
              <img src="images/products/7.jpg" alt="product 1">
            </div>
            <h3 class="product-card__name">
              Wooden radio
            </h3>
            <p class="product-card__price">
              <span>$</span>29.00
            </p>
            <div class="product-card__box">
              <a class="product-card__btn" href="#">
                <svg class="product-card__icon">
                  <use xlink:href="images/sprite.svg#products_search-icon"></use>
                </svg>
              </a>
              <button class="product-card__btn" href="#">
                <svg class="product-card__icon">
                  <use xlink:href="images/sprite.svg#products_basket-icon"></use>
                </svg>
              </button>
              <button class="product-card__btn" href="#">
                <svg class="product-card__icon">
                  <use xlink:href="images/sprite.svg#products_like-icon"></use>
                </svg>
              </button>
            </div>
            <a class="product-card__link" href="#"></a>
          </article>
        </li>
        <li class="products-item mix furnitures">
          <article class="product-card">
            <div class="product-card__image">
              <img src="images/products/8.jpg" alt="product 1">
            </div>
            <h3 class="product-card__name">
              Wooden radio
            </h3>
            <p class="product-card__price">
              <span>$</span>29.00
            </p>
            <div class="product-card__box">
              <a class="product-card__btn" href="#">
                <svg class="product-card__icon">
                  <use xlink:href="images/sprite.svg#products_search-icon"></use>
                </svg>
              </a>
              <button class="product-card__btn" href="#">
                <svg class="product-card__icon">
                  <use xlink:href="images/sprite.svg#products_basket-icon"></use>
                </svg>
              </button>
              <button class="product-card__btn" href="#">
                <svg class="product-card__icon">
                  <use xlink:href="images/sprite.svg#products_like-icon"></use>
                </svg>
              </button>
            </div>
            <a class="product-card__link" href="#"></a>
          </article>
        </li>

      </ul>
    </div>
  </div>
  <div class="lighting-products">
    <div class="container container--large">
      <ul class="lighting-products__items">
        <li class="lighting-products__wrapper">
          <article class="lighting-products__item">
            <div class="lighting-products__image ">
              <img src="images/products/lamp-1.png" alt="Lamp image">
            </div>
            <div class="lighting-products__box">
              <h3 class="lighting-products__name">
                Mirum Notare Tellus
              </h3>
              <div class="lighting-products__descr">
                LEDCornBulb Lamp 5W 7W 10W 12W 15W E26 E27LEDCornLight
              </div>
              <a class="lighting-products__btn" href="#">
                View More
              </a>
            </div>
          </article>
        </li>
        <li class="lighting-products__wrapper">
          <article class="lighting-products__item">
            <div class="lighting-products__image lighting-products__image--second">
              <img src="images/products/lamp-2.png" alt="Lamp image">
            </div>
            <div class="lighting-products__box">
              <h3 class="lighting-products__name">
                Malesuada Tempor
                Euismod
              </h3>
              <div class="lighting-products__descr">
                50W 8000lm Compact Size for HID StreetLightReplacementLEDCornLight
              </div>
              <a class="lighting-products__btn" href="#">
                View More
              </a>
            </div>
          </article>
        </li>
      </ul>
    </div>
  </div>
</section>