<section class="top-slider  container container--large">
  <h2 class="visually-hidden">
    Shop now
  </h2>
  <ul class="top-slider__inner">
    <li class="top-slider__item">
      <div class="top-slider__wrapper">
        <div class="top-slider__content">
          <div class="top-slider__title">
            Smart and trendy            
          </div>
          <div class="top-slider__text">
            <p>
              Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
            </p>
          </div>
          <a class="top-slider__link" href="#">
            Shop now
            <span class="visually-hidden">
              Go to the store
            </span>
          </a>
        </div>
        <div class="top-slider__img-wrapper">
          <div class="top-slider__img">
            <img src="images/slider/photo.png" alt="slider image">
            <span class="visually-hidden">
              Slider image
            </span>
          </div>
        </div>
      </div>
    </li>
    <li class="top-slider__item">
      <div class="top-slider__wrapper">
        <div class="top-slider__content">
          <div class="top-slider__title">
            Smart and trendy
          </div>
          <div class="top-slider__text">
            <p>
              Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
            </p>
          </div>
          <a class="top-slider__link" href="#">
            Shop now
            <span class="visually-hidden">
              Go to the store
            </span>
          </a>
        </div>
        <div class="top-slider__img-wrapper">
          <div class="top-slider__img">
            <img src="images/slider/photo.png" alt="slider image">
            <span class="visually-hidden">
              Slider image
            </span>
          </div>
        </div>
      </div>
    </li>
    <li class="top-slider__item">
      <div class="top-slider__wrapper">
        <div class="top-slider__content">
          <div class="top-slider__title">
            Smart and trendy
          </div>
          <div class="top-slider__text">
            <p>
              Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
            </p>
          </div>
          <a class="top-slider__link" href="#">
            Shop now
            <span class="visually-hidden">
              Go to the store
            </span>
          </a>
        </div>
        <div class="top-slider__img-wrapper">
          <div class="top-slider__img">
            <img src="images/slider/photo.png" alt="slider image">
            <span class="visually-hidden">
              Slider image
            </span>
          </div>
        </div>
      </div>
    </li>
  </ul>
</section>