<section class="top-section">
  <h2 class="visually-hidden">
    New collection of furniture
  </h2>
  <div class="container container--large">
    <div class="top-slider">
      <ul class="top-slider__inner">
        <li class="top-slider__item">
          <div class="top-slider__wrapper">
            <div class="top-slider__content">
              <div class="top-slider__name">
                Smart and trendy
              </div>
              <div class="top-slider__text">
                <p>
                  Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                </p>
              </div>
              <a class="top-slider__link" href="#">
                Shop now
                <span class="visually-hidden">
                  Go to the store
                </span>
              </a>
            </div>
            <div class="top-slider__box">
              <div class="top-slider__img">
                <img src="images/slider/photo.png" alt="slider image">
              </div>
            </div>
          </div>
        </li>
        <li class="top-slider__item">
          <div class="top-slider__wrapper">
            <div class="top-slider__content">
              <div class="top-slider__name">
                Smart and trendy
              </div>
              <div class="top-slider__text">
                <p>
                  Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                </p>
              </div>
              <a class="top-slider__link" href="#">
                Shop now
                <span class="visually-hidden">
                  Go to the store
                </span>
              </a>
            </div>
            <div class="top-slider__box">
              <div class="top-slider__img">
                <img src="images/slider/photo.png" alt="slider image">
                <span class="visually-hidden">
                  Slider image
                </span>
              </div>
            </div>
          </div>
        </li>
        <li class="top-slider__item">
          <div class="top-slider__wrapper">
            <div class="top-slider__content">
              <div class="top-slider__name">
                Smart and trendy
              </div>
              <div class="top-slider__text">
                <p>
                  Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                </p>
              </div>
              <a class="top-slider__link" href="#">
                Shop now
                <span class="visually-hidden">
                  Go to the store
                </span>
              </a>
            </div>
            <div class="top-slider__box">
              <div class="top-slider__img">
                <img src="images/slider/photo.png" alt="slider image">
                <span class="visually-hidden">
                  Slider image
                </span>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <div class="info-support">
        <ul class="info-support__items">
          <li class="info-support__item">
            <div class="info-support__wrapper info-support__wrapper--time">
              <h3 class="info-support__title">
                Support 24/7.
              </h3>
              <div class="info-support__text info-support__text--mini">
                <p>
                  Contact us 24 hours a day,
                  7 days a week.
                </p>
              </div>
            </div>
          </li>
          <li class="info-support__item">
            <div class="info-support__wrapper info-support__wrapper--truck">
              <h3 class="info-support__title">
                Delivery
              </h3>
              <div class="info-support__text">
                <p>
                  Free shipping on all US order.
                </p>
              </div>
            </div>
          </li>
          <li class="info-support__item">
            <div class="info-support__wrapper info-support__wrapper--card">
              <h3 class="info-support__title">
                100% Payment secure.
              </h3>
              <div class="info-support__text">
                <p>
                  We ensure secure payment
                  with PEV.
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>